<h1>Create Toons Page</h1>

<nav>
  <h1>{{User.username}}</h1>
  <button id="backBtn" onclick="history.back()">Back</button>
</nav>

<main>
  <form class="new-toon-form">
    <input type="text" name="toonName" value="Shia LaBeouf">
    <select name="race" id="charRace">
      <option value="human">Human</option>
      <option value="elf">Elf</option>
      <option value="dwarf">Dwarf</option>
      <option value="orc">Orc</option>
    </select>
    <select name="gender" id="charGender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="non-binary">Non-Binary</option>
    </select>
    <select name="toonClass" id="charClass">
      <option value="fighter">Fighter</option>
      <option value="mage">Mage</option>
      <option value="thief">Thief</option>
    </select>
    <textarea name="backstory" id="charBackstory" cols="30" rows="10"></textarea>
    <input type="submit" value="save">
  </form>
</main>

<script>src = "/javascript/addToon.js"</script>

{{!-- we have a few instances of Char being used in the ids
we should update these! --}}