<form id="createAccountForm">
  <div class="form-floating sm-space">
    <input type="text" name="username" class="form-control" placeholder="Doom_Bringer">
    <label for="username">username:</label>
  </div>
  <div class="form-floating sm-space">
    <input type="password" name="password" class="form-control" placeholder="****">
    <label for="password">password:</label>
  </div>
  <div class="form-floating sm-space">
    <input type="password" name="confirmPassword" class="form-control" placeholder="****">
    <label for="confirmPassword">confirm password:</label>
  </div>
  <input type="submit" value="Create" class="bg-main sm-space">
</form>