<h1>HomePage</h1>

<main>App description.
  Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Nihil reprehenderit
  distinctio quae sequi hic, ab debitis cum in,
  laborum neque molestiae sapiente. Iusto at
  eligendi sunt ex tempora neque quo!
</main>

<form id="loginForm">
  <div class="form-floating sm-space">
    <input type="text" name="username" class="form-control" placeholder="Doom_Bringer">
    <label for="username">username:</label>
  </div>
  <div class="form-floating sm-space">
    <input type="password" name="password" class="form-control" placeholder="****">
    <label for="password">password:</label>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <input type="submit" value="Login" class="bg-main sm-space">
    <a href="">create new account</a>
  </div>
</form>