<nav class="bg-alt text-alt d-flex justify-content-around">
  <h1>Coding 'N' Kobolds</h1>
</nav>

<main id="homeSplash">Hello traveler! Looks like you could use a team to help get you through your journey. Step right in, I have just the thing for you.
</main>

<form id="loginForm" class="form">
  <div class="form-floating sm-space">
    <input type="text" id="username-login" name="username" class="form-control" placeholder="Doom_Bringer">
    <label for="username-login">username:</label>
  </div>
  <div class="form-floating sm-space">
    <input type="password" id="password-login" name="password" class="form-control" placeholder="****">
    <label for="password-login">password:</label>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <input type="submit" value="Login" class="bg-main sm-space">
    <a href="/signup">create new account</a>
  </div>
</form>

<script src="js/login.js"></script>