<main>App description. 
  Lorem ipsum dolor sit amet consectetur 
  adipisicing elit. Nihil reprehenderit 
  distinctio quae sequi hic, ab debitis cum in, 
  laborum neque molestiae sapiente. Iusto at 
  eligendi sunt ex tempora neque quo!
</main>

<form id="loginForm">
  <h2>Login</h2>
  <label for="username">username:</label>
  <input type="text" name="username">
  <label for="password">password:</label>
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>