<nav class="bg-alt text-alt d-flex justify-content-around">
  <h1>Coding 'N' Kobolds</h1>
</nav>

<form id="signupForm" class="form">
  <div class="form-floating sm-space">
    <input
      type="text"
      id="username-signup"
      class="form-control"
      placeholder="Doom_Bringer"
    />
    <label for="username-signup">username:</label>
  </div>
  <div class="form-floating sm-space">
    <input
      type="password"
      id="password-signup"
      class="form-control"
      placeholder="****"
    />
    <label for="password-signup">password:</label>
  </div>
  <input type="submit" class="bg-main sm-space" />
</form>

<script src="/js/signup.js"></script>