<h1>user page</h1>


<nav>
  <h1>{{User.username}}</h1>
  <button id="addToon">Add Toon</button>
  <button id="logoutBtn">logout</button>
</nav>

<main>
  {{#each Toon}}
  <div class="toonCard">
    {{#if Toon.race == Elf && Toon.gender == Female}}
    <img src="../public/assets/images/Elf-female-sketch.png" alt="Elf female">
    {{/if}}
    <h3>{{Toon.name}}</h3>
    <p>{{Toon.backstory}}</p>
  </div>
  {{/each}}
</main>




<script>

  addToon.addEventListener("click", createToonPage);
  logoutBtn.addEventListener("click", logout);

  function createToonPage() {
    document.location.replace('/create-toon');
  }

  async function logout() {

    const response = await fetch('/api/users/logout', {

      method: 'post',
      headers: { 'Content-Type': 'application/json' }

    });

    if (response.ok) {

      document.location.replace('/');

    } else {

      alert(response.statusText);

    }
  }

</script>